

body {
height:100%;
margin:0px;
background-image: url(../img/background.png);
background-size: cover;
position: static;
}

img.moon{
position: absolute;
bottom: 0px;
width: 100%;
height: 30%;
}

table.option{
position: absolute;
left: 10px;
top: 10px;
heigth: 10%;
width: 20%;
}

img.opt{
heigth: 50%;
width: 50%;
}

img.cat{
position: absolute;
left:10%;
top:70%;
visibility: visible;
z-index:1;
heigth: 10%;
width: 10%;
}

img.nave{
position: absolute;
left:45%;
top:10%;
heigth: 5%;
width: 5%;}

img.help{
position: absolute;
right:5%;
bottom: 40%;
heigth: 5%;
width: 5%;
}

table.data{
position: absolute;
right:5%;
top: 2%;
heigth: 10%;
width: 20%;
}

p.tabfont{
color:#FFFFFF;
font-size: 80%;
font-family:Comic Sans MS;
align: center;}

img.fuel{
heigth: 70%;
width: 70%;}

img.turbo{
position: absolute;
right:5%;
top: 30%;
heigth: 7%;
width:7%;
}

#pausa{
position: absolute;
top: 40%;
left: 40%;
display:none;
font-family:Comic Sans MS;
color:white;
border:2px solid #FFFFFF;}

#ayuda{
position: absolute;
top: 40%;
left: 40%;
display:none;
font-family:Comic Sans MS;
color:white;
border:2px solid #FFFFFF;
heigth: 20%;
width: 20%;
z-index:1;}

img.acerca{
position: absolute;
right: 5%;
bottom: 29%;
heigth: 5%;
width: 5%;}